.title {
    text-align: center;
    font-size: 48px;

}

.notEaten {
    float: left;
    margin-left: 20%;
    margin-bottom: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.eaten {
    float: right;
    margin-right: 20%;
    margin-bottom: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.addBurger {
    text-align: center;

}

#image {
    width: 302.00px;
    height: auto;
}

.body {
    background-color: #FF6F00;
}