<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR!!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>

{{!-- //Need to take out the delete button on 'burgers to eat' and take out the devoured button on 'burgers already eaten'. --}}